<div>
  <nav class="nav no-select">
    <span data-link="/about">About</span>
    <span data-link="/skills">Skills</span>
    <span data-link="/portfolio">Portfolio</span>
    <span data-link="/contact">Contact</span>
  </nav>
</div>