<article data-scroll="about">
  <section class="main" data-attach="cartoon-me">
    <article>
      <div class="name">Blake Newman</div>
      <div class="desc">Web Developer</div>
    </article>
  </section>
  <div class="bg-image"></div>
  <section class="about-me">
    <article>    
      <h1>About</h1>
      <div class="container">
        <p>My fascination with development has always been a part of who I am. I have an endless aspire to learn and achieve more. I have a firm belief that programming skills can only be obtained through active development. Initially starting as a Junior Developer at Ignition, I soon became the lead developer due to rapid progression and hard work. Involvement with a multitude of demanding and time conscious projects at Ignition has significantly matured my skills and aptitude.</p>

        <p>I have a deep obsession with monitors, with a three monitor setup at Ignition and two 4k monitors at home. I can't seem to go without a mass amount of screens. I have Google Glass, yet another screen to my endless collection. I am currently developing a real-time application for presenting notes for Google Glass. I don't use Qwerty keyboards, now 2 months into learning the Colemak layout, some people call me weird I just reply <i>"It's just one more thing I can do, that you can't"</i>. When I'm not developing I spend my time enjoying life and occasionally doing <a href="//www.youtube.com/watch?v=NBp-3Opm3gk" target="_blank">something extreme.</a></p>
      </div>
    </article>
  </section>
</article>