<article data-scroll="skills">

  <div class="bg-image"></div>
  <section>
    <article>
      <h1>Skills</h1>
      <p>I have acquired many skills proving difficult to have a label, I officially call myself a <i>'Front End Developer, with a mix of everything'</i>; I think they call it a Full Stack Developer these days. The list below are my main expertise; I am not limited by them, being adaptive enough to work in any environment.</p>
    </article>

    <article>
      <div class="wrapper">
        <h3>Languages &amp; Development concepts</h3>
        <p>I have always learnt development concepts and not the languages, I'm more versatile by knowing the concepts, so I can swiftly switch between many languages. I have worked with OOP, MVC (and its alternatives), REST, and other concepts to obtain a broad understanding of all the layers behind projects.</p>
        <div class="logos">
          <a><img class="badge" src="/images/skills/HTML5.svg" alt="HTML"></a>
          <a><img class="badge" src="/images/skills/CSS3.svg" alt="CSS"></a>
          <a href="//coffeescript.org"><img class="long" src="/images/skills/CS.svg" alt="CoffeeScript"></a>
          <a href="//typescriptlang.org"><img class="long" src="/images/skills/TS.svg" alt="TypeScript"></a>
          <a><img class="badge" src="/images/skills/JS.svg" alt="JavaScript"></a>
          <a href="//www.java.com"><img class="badge" src="/images/skills/Java.svg" alt="Java"></a>
          <a href="//php.net"><img class="badge" src="/images/skills/PHP.svg" alt="PHP"></a>
          <a href="//www.python.org/"><img class="badge" src="/images/skills/Python.svg" alt="Python"></a>
          <a href="//www.ruby-lang.org"><img class="badge" src="/images/skills/Ruby.svg" alt="Ruby"></a>
          <a><span><span>MVC</span></span></a>
          <a><span><span>OOP</span></span></a>
          <a><span><span>REST</span></span></a>
          <a><span><span>AJAX</span></span></a>
          <a><span class="dl"><span>Relational Databases</span></span></a>
          <a><span><span>NoSQL</span></span></a>
          <a><span class="dl"><span>Responsive Design</span></span></a>
        </div>
      </div>
    </article>

    <article>
      <div class="wrapper">
        <h3>Frameworks &amp; Libraries</h3>
        <p>Using the latest frameworks and libraries is important. I have a full range of experience in MVC frameworks. I don't restrict my knowledge to one or the other; I like to think I can adapt fast to whatever framework is being used.</p>
        <div class="logos">               
          <a href="//tweakjs.com"><img class="badge" src="/images/skills/Tweak.svg" alt="tweak.js"></a>
          <a href="//handlebarsjs.com/"><img class="badge" src="/images/skills/Handlebars.png" alt="Handlebars"></a>
          <a href="//couchdb.apache.org/"><img class="badge" src="/images/skills/Couchdb.svg" alt="CouchDB"></a>
          <a href="//sass-lang.com"><img class="badge" src="/images/skills/Sass.svg" alt="Sass"></a>
          <a href="//learnboost.github.io/stylus/"><img class="badge" src="/images/skills/Stylus.svg" alt="Stylus"></a>
          <a href="//lesscss.org"><img class="less badge" src="/images/skills/Less.svg" alt="less"></a>          
          <a href="//jquery.com"><img class="long" src="/images/skills/JQuery.svg" alt="JQuery"></a>
          <a href="//backbonejs.org"><img class="backbone long" src="/images/skills/Backbone.svg" alt="backbone.js"></a>
          <a href="//angularjs.org"><img class="long" src="/images/skills/AngularJS.svg" alt="AngularJS"></a>   
        </div>
      </div>
    </article>
    
    <article>
      <div class="wrapper">
        <h3>Other Skills</h3>
        <p>My skills don't end there. I have an in-depth experience of design applications, platforms, control systems and build tools.</p>
        <div class="logos">
          <a href="///git-scm.com"><img class="badge" src="/images/skills/Git.png" alt="Git"></a>
          <a href="//brunch.io"><img class="badge" src="/images/skills/Brunch.svg" alt="Brunch"></a>
          <a href="//gruntjs.com"><img class="badge" src="/images/skills/Grunt.svg" alt="Grunt"></a>
          <a href="//gulpjs.com"><img class="gulp badge" src="/images/skills/Gulp.png" alt="Gulp"></a>
          <a href="//bower.io"><img class="badge" src="/images/skills/Bower.svg" alt="Bower"></a>
          <a href="//npmjs.com"><img class="badge" src="/images/skills/Npm.svg" alt="NPM"></a>
          <a href="//nodejs.org"><img class="node long" src="/images/skills/Node.svg" alt="Node.js"></a>
          <a href="//android.com"><img class="badge" src="/images/skills/Android.svg" alt="Android"></a>
          <a href="//developers.google.com/glass"><img class="glass badge" src="/images/skills/Glass.svg" alt="Google Glass"></a>
          <a href="//scorm.com"><img class="badge" src="/images/skills/Scorm.png" alt="SCORM & Tin Can API"></a>
          <a href="//adobe.com"><img class="badge" src="/images/skills/PS.png" alt="Photoshop"></a>
          <a href="//adobe.com"><img class="badge" src="/images/skills/AI.jpg" alt="Illustrator"></a>
          <a href="//adobe.com"><img class="badge" src="/images/skills/FL.jpg" alt="Flash Proffesional"></a>
        </div>
      </div>
    </article>
  <section>
</article>