footer
  position:relative
  width:100%
  height:$footerHeight
  background:black
  color:white
  > .footer
    $wrapper()
    display:table   
    height:100%
    padding:10px 20px
    font-size: 10px
    
    > .license
      display:table-cell
      vertical-align:middle
      width:50%
      
    > .copyright
      display:table-cell
      vertical-align:middle
      width:50%
      > span
        float:right